<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-1 bg-dark text-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
                    </li>
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="/categories/{{ category.category }}">{{ category.category }}</a>
                        </li>    
                    {% endfor %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                            </a>
                        </li>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Login/Registration</a></li>
                        </ul>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Vendor
                            </a>
                        </li>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Login/Registration</a></li>
                        </ul>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="/users/login_page">User login/registration TEST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="/vendors/login_page">Vendor login/registration TEST</a>
                    </li>
                    {% if session %}
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="/logout">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <h1>Category</h1>
    <h2>{{ cat_ads.category }}</h2>
    <h3>Ads</h3>
    <div class="d-flex">
        {% for ad in cat_ads.ads %}
            <div class="card m-4">
                <p>Ad photo: {{ ad.image.image_path}}</p>
                <p>Vendor name: {{ ad.vendor.company_name}}</p>
                <p>Ad text: {{ ad.ad_content}}</p>
                <p>Rating: {{ ad.vendor.reviews[0]|round(1) }} </p>
            </div>
        {% endfor %}
    </div>
</body>
</html>