.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.login-background{
    background-color: white
}
.login-logo{
    width:50px;
    position: absolute;
    top: 5;
    left: 37%;
    align-items: center;
    transform: translateX(-50%);
    border-radius: 50%;
}
.company-name{
    margin: auto;
    align-items: center;
}

.login-header{
    margin: auto;
    display: flex;
    text-align: center ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
}

.login-card{
    width: 650px;
    background-color: rgba(211, 211, 211, 0.162);
    margin-bottom: 200px;
    display: flex;
    height: 550px;
}
.login-card-photo{
    width: 300px;
    height: 550px;
    background-image: url(login-wedding.gif);
}

.login-statement{
    margin-left: 20px;
    padding: 20px;
}

#login-button{
    margin-left: 20px;
}

.join{
    text-decoration-line: none;
    color: cyan;
    font-weight:bolder;
}

.vendors-slogan{
    padding:20px;
    margin-top: 20px;
    font-style: italic;

}

#vendors{
    font-weight: bold;
    font-style:inherit;
}

#users{
    font-weight: bold;
    font-style:inherit;
}

.register-card{
    background-color:rgba(211, 211, 211, 0.162) ;
    margin-left: 10px;
    margin-top: 40px;
    width: 650px;
    height:950px;
}

.register-form-label{
    color: black;
}

.register-header{
    color: black;
    font-weight: bold;
    font-style: italic;
}

.main_page_image{
    width: 500px;
    
}

.main_page_image_container{
    margin-top: 40px; 
    /* overflow: hidden; */
}

.vendors_main_container{
    margin-top: 50px;
}
.vendors_main_top{
    display: flex;
    border: solid black 5px;
}

.main_logo{
    position: absolute;
    align-items: center;
    width: 100px;
    top: 26%;
    bottom: 70%;
    right: 90%;
}

.main_company_name{
    margin: auto;
    align-items: center;
}